<h1 class="bloc">案例 - 项目</h1>
<div class="caseList">
  <ul class="case cc">
    <li *ngFor="let item of result">
      <a target="_blank" [href]="item.url" class="img" [ngStyle]="{'background-image':'url('+item.picurl+')'}"></a>
      <div class="label">
        <a target="_blank" [href]="item.url">{{item.title}}</a>
      </div>
    </li>
  </ul>
  <nz-pagination style="float: right;margin-bottom:10px" [nzPageIndex]="1" [nzTotal]="6" nzShowQuickJumper></nz-pagination>
</div>


<!--
<nz-modal class="open" [nzVisible]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" (nzOnCancel)="handleCancel($event)">
  <ng-template #modalTitle>
    {{title}}
  </ng-template>
  <ng-template #modalContent>
    <img [src]="picurl">
    <p>项目地址：<a>{{url}}</a></p>
  </ng-template>
</nz-modal>
-->
