<div class="right">
  <div class="headName">
    <img src="./assets/images/ren.jpg">
  </div>
  <div class="headInfo">
    <h1>丁燕</h1>
    <h4>WEB前端开发</h4>
    <h6>江苏 , 南京</h6>
  </div>
  <div class="des">
    <p>欢迎您访问我的主页</p>
    <p>幸会</p>
    <p>我能效劳的</p>
    <p>前端开发，模块化开发，MVVM模式开发，利用各种技巧实现交互丰富的界面。</p>
  </div>
  <div class="headScoial">
    <p>我的社交简介</p>
    <ol class="soncial cc">
      <li><a href="https://github.com/dingyanzi" target="_blank"></a></li>
      <li class="qq"><a href="tencent://message/?uin=1275409699&Site=很高兴认识你&Menu=yes"></a></li>
      <nz-popover [nzTrigger]="'hover'">
        <li class="wechat" nz-popover></li>
        <ng-template #nzTemplate>
          <div><img src="./assets/images/4.png"></div>
        </ng-template>
      </nz-popover>
      <nz-popover [nzTrigger]="'hover'">
        <li class="blog" nz-popover></li>
        <ng-template #nzTemplate>
          <div><img src="./assets/images/5.png"></div>
        </ng-template>
      </nz-popover>
    </ol>
  </div>
</div>
