<h1 class="bloc">简介 - 个人信息</h1>
<div class="about">
  <div class="lt">
    <div class="title_content">
      <h2>编程技能</h2>
    </div>
    <div class="skills">
      <div class="progress">
        <div class="progress-bar" style="width:80%; background:#3c568b;">
        </div>
        <h3 class="progress-title">HTML5</h3>
        <div class="progress-value">80%</div>
      </div>
      <div class="progress">
        <div class="progress-bar" style="width:70%; background:#3c568b;">
        </div>
        <h3 class="progress-title">CSS3</h3>
        <div class="progress-value">70%</div>
      </div>
      <div class="progress">
        <div class="progress-bar" style="width:80%; background:#3c568b;">
        </div>
        <h3 class="progress-title">js</h3>
        <div class="progress-value">80%</div>
      </div>
      <div class="progress">
        <div class="progress-bar" style="width:70%; background:#3c568b;">
        </div>
        <h3 class="progress-title">angular</h3>
        <div class="progress-value">70%</div>
      </div>
    </div>
    <div class="title_content">
      <h2>设计技能</h2>
    </div>
    <div class="skills">
      <div class="progress">
        <div class="progress-bar" style="width:80%; background:#3c568b;">
        </div>
        <h3 class="progress-title">photoshop</h3>
        <div class="progress-value">80%</div>
      </div>
      <div class="progress">
        <div class="progress-bar" style="width:60%; background:#3c568b;">
        </div>
        <h3 class="progress-title">AI</h3>
        <div class="progress-value">60%</div>
      </div>
      <div class="progress">
        <div class="progress-bar" style="width:70%; background:#3c568b;">
        </div>
        <h3 class="progress-title">排版</h3>
        <div class="progress-value">70%</div>
      </div>
      <div class="progress">
        <div class="progress-bar" style="width:50%; background:#3c568b;">
        </div>
        <h3 class="progress-title">Illustrator</h3>
        <div class="progress-value">50%</div>
      </div>
    </div>
    <div class="title_content">
      <h2>办公技能</h2>
    </div>
    <div class="skills">
      <div class="progress">
        <div class="progress-bar" style="width:70%; background:#3c568b;">
        </div>
        <h3 class="progress-title">Excel</h3>
        <div class="progress-value">70%</div>
      </div>
      <div class="progress">
        <div class="progress-bar" style="width:80%; background:#3c568b;">
        </div>
        <h3 class="progress-title">Word</h3>
        <div class="progress-value">80%</div>
      </div>
      <div class="progress">
        <div class="progress-bar" style="width:80%; background:#3c568b;">
        </div>
        <h3 class="progress-title">ppt</h3>
        <div class="progress-value">80%</div>
      </div>
      <div class="progress">
        <div class="progress-bar" style="width:60%; background:#3c568b;">
        </div>
        <h3 class="progress-title">oa</h3>
        <div class="progress-value">60%</div>
      </div>
    </div>
    <div class="title_content">
      <h2>我的个人简历</h2>
    </div>
    <button class="down" nz-button [nzType]="'primary'">
      <i class="anticon anticon-cloud-download-o"></i><span>下载我的简历</span>
    </button>
  </div>
  <div class="rt">
    <div class="title_content">
      <h2>经验</h2>
    </div>
    <h5 class="company"><font>web开发</font><span class="time"><i class="anticon anticon-calendar"></i>2014-2016</span></h5>
    <h6 class="companyName"><i class="anticon anticon-eye"></i>马鞍山志业软件科技有限公司</h6>
    <div class="desc">
      涉及大多政府项目需编写兼容至少ie6以上的浏览器解决浏览器之间不兼容问题；
      本身自学ps有处理图片网页等过硬技术，具备审美标准；
      精通html5技术熟练运用bootstrap前端框架，Aamze ui框架开发响应式网站；
    </div>
    <h5 class="company"><font>前端开发</font><span class="time"><i class="anticon anticon-calendar"></i>2016-2016.12</span></h5>
    <h6 class="companyName"><i class="anticon anticon-eye"></i>合肥52pk游戏网</h6>
    <div class="desc">
      全球华语游戏第一下载中心，中国资深游戏玩家聚集的知名网络游戏媒体平台52pk游戏网；
      负责公司日常专题制作、专区制作、频道制作、动画站、动漫站、门户站等前端工作；
      大型互联网工作经验，门户站架构，与后台交互操作等；
    </div>
    <h5 class="company"><font>前端开发</font><span class="time"><i class="anticon anticon-calendar"></i>2017-至今</span></h5>
    <h6 class="companyName"><i class="anticon anticon-eye"></i>南京松果科技有限公司</h6>
    <div class="desc">
      是一家面向政府和部队提供IT解决方案与服务的专业软件企业。包括app、提供社区服务。采用最新技术框架，模块化开发，前后端分离。
    </div>
    <div class="title_content">
      <h2>教育</h2>
    </div>
    <h5 class="company"><font>学历: 大专</font><span class="time"><i class="anticon anticon-calendar"></i>2013-2015</span></h5>
    <h6 class="companyName"><i class="anticon anticon-eye"></i>安徽工业经济职业技术学院</h6>
    <div class="desc">
      专业：计算机网络技术
    </div>
  </div>

</div>
