<h1 class="bloc">联系-联系我</h1>
<div class="about">
  <div class="banner">
    <img src="./assets/images/ban.jpg">
  </div>
  <div class="lt">
    <div class="title_content">
      <h2>联系信息</h2>
    </div>
    <ul class="contact">
      <li><span class="span-info"><i class="anticon anticon-user"></i> 地址:</span> 江苏，南京<br></li>
      <li><span class="span-info"><i class="anticon anticon-mail"></i> 邮箱:</span> 1275409699@qq.com></li>
      <li><span class="span-info"><i class="anticon anticon-mobile"></i>电话: </span> 13956227817</li>
      <li><span class="span-info"><i class="anticon anticon-global"></i> 网站:</span> <a href="http://106.14.192.196/dingyan/index.html">http://106.14.192.196/dingyan/index.html</a>
      </li>
      <li><span class="span-info"><i class="anticon anticon-github"></i> GitHub:</span><a href="https://github.com/dingyanzi" target="_blank">https://github.com/dingyanzi</a></li>
    </ul>
  </div>
  <div class="rt">
    <div class="title_content">
      <h2>扫描到我</h2>
    </div>
    <ul class="code">
      <li><img src="./assets/images/3.png"><p>QQ</p></li>
      <li><img src="./assets/images/4.png"><p>微信</p></li>
      <li><img src="./assets/images/5.png"><p>微博</p></li>
    </ul>
  </div>
</div>
