<div class="left">
  <ul class="nav cc">
    <li routerLink="home" routerLinkActive="on" (click)="menu('0')">
      <code><i class="anticon anticon-user"></i></code>
    </li>
    <li routerLink="about" routerLinkActive="on" (click)="menu('1')">
      <code><i class="anticon anticon-bar-chart"></i></code>
    </li>
    <li routerLink="case" routerLinkActive="on"  (click)="menu('2')">
      <code><i class="anticon anticon-picture"></i></code>
    </li>
    <li routerLink="contact" routerLinkActive="on" (click)="menu('3')">
      <code><i class="anticon anticon-smile-o"></i></code>
    </li>
  </ul>
  <ul class="navBtn">
    <li><code><i class="anticon anticon-cloud-download-o"></i></code></li>
  </ul>
</div>
